.section_screen{
  display: flex;
  justify-content: center;
}
.screen_box{
  width: 750px;
  height: 570px;
  background: #353541;
  display: grid;
  align-content: end;
}
.screen_box1{
  height: 120px;
  background: #3d4f59;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}
.screen_text{
  font-size: 32px;
}
.screen_text1{
  font-size: 18px;
}
.screen_box_text{
  display: grid;
padding-left: 300px;
  padding-top: 40px;

}
.screen_description{
  width: 450px;
  height: 350px;
}
.screen_description1{
  width: 350px;
  height: 220px;
}
.screen_description2{
  width: 550px;
  height: 100px;
}
.number_comments{
  width: 155px;
  height: 50px;
  color: white;
  background: black;
margin-left: 300px;
  margin-top: 80px;
  cursor: pointer;
}
.number_comments_text{
  text-align: center;
  padding-top: 12px;
}

.comment_icon{
width: 75px;
  height: 75px;
  background: #353541;
  margin-left: 300px;
  margin-top: 50px;
}
.comment_text_user{
width: 320px;
display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-left: 100px;
}
.comment_text_data{
  font-size: 16px;
  font-weight: normal;
  padding-left: 25px;
}
.comment_text{
  font-size: 16px;
  font-weight: normal;
  width: 600px;
  margin-left: 100px;
}
.comment_icon1{
  width: 75px;
  height: 75px;
  background: #353541;
  margin-left: 400px;
  margin-top: 50px;
}
.comment_form{
  display: grid;
  grid-row-gap: 1em;
  margin-left: 300px;
  margin-top: 50px;
}
.comment_input{
  width: 315px;
  height: 45px;
}
.comment_textarea{
  width: 315px;
  height: 170px;
}
.comment_submit{
  width: 315px;
  height: 45px;
  background: #333333;
  color: white;
}

@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
.screen_description{
  width: 320px;
  height: 200px;
}
  .screen_description1{
    width: 320px;
  }
  .screen_description2{
    width: 320px;
  }

  .screen_box_text{
    padding: 0;
  }
  .number_comments{
    margin-left: 0;
  }
.comment_icon{
  margin-left: 0;
}
  .comment_icon1{
    margin-left: 0;
  margin-top: 150px;
  }
  .comment_form{
    margin-left: 0;
  }
.comment_text_user{
  display: table;
  width: unset;
}
.comment_form{
  padding-top: 50px;
}
  .comment_text{
    width: 250px;
  }
  .address{
    width: unset;
  }
  .forms{
    display: table;
  }
.comment_text_data{
  padding-left: 0;
}
}
