@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
  url("../assets/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

.section_home {
  display: grid;
  grid-template-columns: 630px;
  color: white;
  background-image: url("../assets/img/backhome.png");
  background-size: cover;
  width: 100%;
  height: 430px;
  align-content: center;
  justify-content: center;
font-family: "Times New Roman";
}
.menu_portfolio {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  cursor: pointer;
}

.menu_skills {
  padding: 15px;
}

.menu_skills:hover {
  border-bottom: 1px solid red;
}

.div-line {
  width: 960px;
}

.section_portfolio {
  display: grid;
  justify-content: center;
  padding-top: 70px;
  grid-row-gap: 25px;
}

.port_project {
  width: 360px;
  height: 350px;
  background-image: url("../assets/img/port.png");
  display: grid;
  align-items: end;
}

.port_project1 {
  width: 360px;
  height: 350px;
  background-image: url("../assets/img/port1.png");
  display: grid;
  align-items: end;
}

.port_project2 {
  width: 360px;
  height: 350px;
  background-image: url("../assets/img/port2.png");
  display: grid;
  align-items: end;
}

.port_project3 {
  width: 360px;
  height: 350px;
  background-image: url("../assets/img/port3.png");
  display: grid;
  align-items: end;
}

.port_project4 {
  width: 360px;
  height: 350px;
  background-image: url("../assets/img/port4.png");
  display: grid;
  align-items: end;
}

.port_project5 {
  width: 360px;
  height: 350px;
  background-image: url("../assets/img/port5.png");
  display: grid;
  align-items: end;
}

.port_projects {
  display: flex;
  grid-column-gap: 25px;
}

.port_box {
  height: 130px;
  background: #01b9c3;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}


.port_box_text {
  font-size: 16px;
}

.port_box_text1{
  font-size: 14px;
  border-bottom: 1px solid white;
  width: 90px;
  padding-top: 30px ;
  cursor: pointer;
}

.port_box1 {
  height: 130px;
  background: #1e2e3e;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}

.port_box2 {
  height: 130px;
  background: #3f3d3e;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}

.port_box3 {
  height: 130px;
  background: #0093b5;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}

.port_box4 {
  height: 130px;
  background: #353541;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}

.port_box5 {
  height: 130px;
  background: #6176ab;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}

@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
.section_home{
  display: table;
}
  .menu_skills{
    padding: 0;
  }
.port_projects{
  display: table;
}
}


